# Exclude dot-files and dot-directories
.*

# Exclude BcContainerHelper files
*.flf
TestResults.xml
BuildOutput.txt

# Reapply rules to files in .vscode folders
!.vscode/
**/.vscode/*

# Reapply rules to files in .alpackages folders
!.alpackages/
**/.alpackages/*

# Keep gitignore
!.gitignore

# Keep .gitmodules
!.gitmodules

# Keep .gitattributes
!.gitattributes

# Keep VS Code tasks
!tasks.json

# Keep VS Code per-folder settings
!settings.json

# Keep .NET packages
!.netpackages

# Keep AL Object ID Ninja config
!.objidconfig

# Exclude AL packages
*.app

# Keep apps for breaking changes check
!*-previous.app

# Exclude permission analyzer state
permissionsAnalyzer.json

# Exclude global translation
*.g.xlf

# Keep Softera configs
!.softera
